.wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding:  20px;
    overflow: hidden;
    border: 1px solid lightgray;
}

[data-tab-content]{
    
}
ul{
    margin-left: -40px;
}
li{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    border-bottom: 5px solid #cccc
    
}
li:hover{
    border-color: palegreen; 
    cursor: pointer;
}